/* Tipografía */
body{
    font-family: 'fraunces', 'Times New Roman', Times, serif;
}
.title{
    position: absolute;
    color: white;
 
}

/* contenedor del código */

.container{
    min-height: 100vh;
    width: 100%;
    margin: auto;
}

/* contenedor de los stripes */

.row{
    display: flex;
}

.stripe1{
    background-color:  #244F75;
    min-height: 100vh;
    width: calc(100% / 5);
    overflow: hidden;
    animation-name: stripe1;
    animation-duration: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    

}
.stripe2{
    background-color:#60BFBF;
    min-height: 100vh;
    width: calc(100% / 5);
    overflow: hidden;
    animation-name: stripe2;
    animation-duration: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    
}
.stripe3{
    background-color: #8C4B7E;
    min-height: 100vh;
    width: calc(100% / 5);
    overflow: hidden;
    animation-name: stripe3;
    animation-duration: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
   
}
.stripe4{
    background-color: #F8BB44;
    min-height: 100vh;
    width: calc(100% / 5);
    overflow: hidden;
    animation-name: stripe4;
    animation-duration: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
   
}
.stripe5{
    background-color: #F24B4B;
    min-height: 100vh;
    width: calc(100% / 5);
    overflow: hidden;
    animation-name: stripe5;
    animation-duration: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    
}



/* Stripe blanco */

.stripe {
    min-height: 100vh;
    width: 100%;
    background-color: white;
    opacity: 0.1;
    transform: skew(20deg);
    transition-duration: 0.3s;
    transition-timing-function: ease;
    display: flex;
    align-items: center;
    justify-content: center;

}
.stripe:hover {
    min-height: 100vh;
    width: 100%;
    background-color: white;
    opacity: 0.1;
    transform: skew(20deg);
    transform: scale(2);
}

/* MO TH ER FLO WER */


/* Animación entrada */

@keyframes stripe1 {
    0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    }
    100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
}

   @keyframes stripe2 {
    0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    }
    100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
   }

   @keyframes stripe3 {
    0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }
    100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
   }

   @keyframes stripe4 {
    0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    }
    100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
   }

   @keyframes stripe5 {
    0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    }
    100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
   }